.DisplayPage{
  
  display: grid;
  column-gap: 5px;
  height: 100vh;
  overflow: hidden;
}
.TwoLists{
  row-gap:5px ;
  display: grid;
  height: 22px;
  
}
.list{
  overflow-y: scroll;
}
.inputTodoStyle{
background-color: rgb(73, 106, 73);
color: rgb(245, 245, 245);
}
.todoInput{
  background-color: blueviolet;
  margin: auto;
  width:45%
}
.input{
  margin: auto;
  width:50%;
  padding: 10px;
}



